:root {
	--texto: rgba(255,255,255, .7);
	--blanco: #fff;
	--input: #3A3B3C;
	--input-hover: #4b4d4e;
	--activo: #2D88FF;
	--gris-claro: #B0B3B8;
	--fondo-contenido: #242526;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #ffff;
	color: var(--texto);
}

header{
    background: var(--fondo-contenido);
    color:  var(--blanco);
    
}

header .nav {
    min-height: 100px;
    font-family: 'Shadows Into Light', cursive;
}

header .nav .logo p {
    font-size: 18px;
}

header .nav .logo:hover h2  {
    font-weight: 700;
}

header .barra-busqueda input {
	width: 100%;
	border: none;
	background: var(--input);
	color: var(--texto);
	height: 40px;
	border-radius: 100px;
	padding: 0 20px 0 40px;
}

main{
    background: var(--gris-claro);
	color: var(--texto);
    font-family: 'Shadows Into Light', cursive;
}

main .card {
    /* height: 460px; */
    background: var(--fondo-contenido);
}

/* main .card img {
    width: 325px;
    height: 243;
} */

/* Footer */

footer{
    background: var(--fondo-contenido);
}

.redes-sociales {
	padding: 40px 0;
	margin-bottom: 40px;
}

.redes-sociales .icono {
	width: 100px;
	height: 100px;
	color: #fff;
	background: #cbcbcb;
	display: inline-block;
	margin: 0px 20px;
	text-decoration: none;
	border-radius: 100px;
	transition: all .3s ease;
}

.redes-sociales .icono:hover {
	width: 110px;
	height: 110px;
}


.redes-sociales .icono svg {
	width: 40px;
	height: 40px;
}




.redes-sociales .twitter {background: #1da1f2;}
.redes-sociales .instagram {background: #2d2436;}
.redes-sociales .facebook {background: #3b5998;}




/* Dispositivo lg */
@media screen and (max-width: 992px){
	/* header .barra-busqueda {
        position: absolute;
        min-height: 76px;
        left: 180px;
        width: 60%;
    }
    header .barra-busqueda .icono {
        position: absolute;
        top: 24px;
        left: 20px;
        color: var(--texto);
    }
 */

}